<% provide(:title, t("title.about")) %>
<h1><%= t "title.about" %></h1>
<p>The <%= link_to t("href.rails"), t("url.rails") %> is a
  <%= link_to t("href.book"), t("url.book") %> and
  <%= link_to t("href.screencast"), t("url.screencast") %>
  to teach web development with <%= link_to t("href.rails"), t("url.rails") %>.
  This is the sample application for the tutorial.
</p>
