<footer class="footer">
  <small>
    The <%= link_to t("href.rails"), t("url.rails") %> by <%= link_to t("href.author"), t("url.author") %></small>
  <nav>
    <ul>
      <li><%= link_to t("title.about"), about_path %></li>
      <li><%= link_to t("title.contact"), contact_path %></li>
      <li><%= link_to t("href.news"), t("url.news") %></li>
    </ul>
  </nav>
</footer>
