<footer class="footer">
  <small>
    The <%= link_to t(".href_rails") , t(".rails") %> by <%= link_to t(".hart"), t(".url_hart") %></small>
  <nav>
    <ul>
      <li><%= link_to t(".abou"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), t(".news_url") %></li>
    </ul>
  </nav>
</footer>
